section{
    border-color: rgb(117, 114, 10);
    border-width: 5px;
    border-radius: 15px;
    border-style: double;
    width:50%;
    padding: 50px;
}

label{
    font-weight: bold;
    text-decoration: underline;
}

tr{
    height: 35px;
}

td{
    text-align: left;
    width: auto;
}