html,body{
    width: 100%;
    height: 100%;
    overflow: show;
}
aside{
    background-color:rgb(245, 242, 238);
    padding:1%;
    border-radius: 12px;
    float:left;
    margin-left:5%;
    text-align: left;
    position: sticky;
    top:17%;
    width:25%;
}
aside p{
    color:rgb(60, 58, 4);
}
.LoansTab{
    text-align: left;
    width:72%;
    
}
