*{color: white;}
html,body{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
body {
    background-color: black;
    text-align: center;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
iframe{
    width: 100%;
    height: 100%;
}

h1 {
    color: rgb(117, 114, 10);
    margin: 20px 0;
}

main {
    display: flex;
    justify-content: center;
    gap: 50px; /* space between buttons */
    align-items: center;
    margin-top: 50px;
}

.intbtns,.quitbtn {
    background: none;       /* no background */
    border-style: double;
    border-color: rgb(117, 114, 10);
    border-radius: 15px;
    font-weight: bolder;
    color:rgb(117, 114, 10);
    cursor: pointer;        /* make it look clickable */
    padding: 10px;
    transition: transform 0.2s, filter 0.2s; /* hover effect */
}

.intbtns img{
    width: 150px;           /* smaller image */
    height: 150px;
    object-fit: contain;
    border-bottom: solid rgb(117, 114, 10);
}
.quitbtn img{
    width: 50px;           /* smaller image */
    height: 50px;
    object-fit: contain;
    filter: invert() brightness(0.5);
}
.intbtns:hover,.quitbtn:hover {
    transform: scale(1.1);  /* enlarge slightly on hover */
    filter: brightness(1.1); /* brighten on hover */
}
.quitbtn{
    float: right;
    margin-right: 4%;
    margin-top: -4%;
}
label{
    display: inline-block;
    color:rgb(117, 114, 10);
}
fieldset{
    border-color: rgb(117, 114, 10);
    border-width: 5px;
    border-radius: 15px;
    border-style: double;
    width:50%;
}
form,fieldset{
    display: flex;
    justify-content: center;
}
td{
    text-align: right;
}
td input{
    color:black;
}
select,option,button{
    color:black;
}